.navbar-custom {
  background-color: #1A2B3C !important; /* Fond sombre */
  z-index: 1000; /* Assurer qu'elle est au-dessus des autres éléments */
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  color: var(--white) !important; /* Assurer que le texte reste blanc */
  text-shadow: none; /* Retirer l'ombre */
}
